@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #fbb3ddc1;
  --text-white: #fff;
  --text-rose: #ffbde2;
  --btn: rgb(255, 94, 175);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
  color: black;
}

body {
  background: var(--background);
}
header {
  background: linear-gradient(to bottom, rgb(120, 0, 74), rgb(255, 58, 180));
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  padding: 0px 40px;
  z-index: 2;
}

header img {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar-list a {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-rose);
}
.navbar i {
  font-size: 24px;
  color: white;
  margin: 0px 10px;
}

.menu-label,
.menu-toggle,
.menu-user {
  display: none;
}
.navbar-list-user {
  position: absolute;
  top: 100px;
  background: rgb(255, 58, 180);
  transform: translateX(500px);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  width: 200px;
  transition: all 1s ease;
}
.navbar-list-user a {
  color: var(--text-white);
}

.menu-user:checked ~ .navbar-list-user {
  /* transform: translateX(300px); */
  transform: translateX(220px);
  transition: all 1s ease;
}
.carrito {
  font-size: 20px;
  color: var(--text-rose);
}

/* SECTION HERO */
main {
  background: var(--background);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#hero {
  max-width: 1200px;
  display: flex;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-info {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: justify;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero-bajada {
  font-size: 18px;
  width: 80%;
  font-weight: 700;
  text-align: center;
}

.hero-text {
  font-size: 16px;
}

#hero img {
  width: 350px;
}

.btn {
  background: var(--btn);
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  width: 700px;
  border: 1px solid rgb(244, 27, 150);
}

/* ABOUT */

#about {
  padding: 70px 0px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#about h2 {
  border-bottom: 1px solid rgb(178, 6, 144);
}

.about-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.about-card {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 450px;
  gap: 10px;
  text-align: center;
  border: 2px solid rgb(245, 79, 156);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 15px;
  overflow: hidden;
}

.about-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: all 1s ease;
}

.about-card b {
  font-size: 20px;
  background: linear-gradient(to bottom, rgb(77, 0, 60), rgb(255, 0, 179));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.about-card p {
  font-size: 12px;
  text-align: justify;
}

.about-card span {
  color: #ff1198;
  font-weight: 600;
}

/* PRECIOS */
#precios {
  padding: 70px 0px;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#precios h2 {
  border-bottom: 1px solid rgb(178, 6, 144);
}
.precios-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 20px 0;
}

.precios-card {
  width: 300px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px 25px;
  border: 2px solid rgb(245, 79, 156);
  border-radius: 10px;
  background: rgba(255, 37, 200, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.container-precios-semi {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.precios-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.precios-card h2 {
  font-size: 18px;
  text-shadow: 0px 3px 3px rgba(94, 6, 62, 0.49);
  text-align: center;
}
.precios-semi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(193, 38, 133);
}

.precios-text {
  width: 70%;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.precios-num {
  font-size: 18px;
  height: 30px;
}
.btn-precios {
  background: rgb(255, 58, 123);
  border-radius: 10px;
  padding: 2px 8px;
}

/* CONTACTO */

#contacto {
  margin-top: 100px;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  border-radius: 10px;
  background: #ff1198;
  padding-left: 20px;
}

#contacto h2 {
  width: 80%;
  font-weight: 800;
  font-size: 28px;
}

.contact-text {
  font-size: 20px;
}

.contact-text p:nth-child(2) {
  margin-top: 10px;
  font-weight: 600;
}
.contact-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 80%;
}

input::placeholder {
  background-color: #fb1a99;
  color: white;
}
.contact-inputs input {
  width: 90%;
  border: none;
  border-bottom: 1px solid white;
}

textarea {
  width: 40%;
}

iframe {
  width: 80%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.p-ubi {
  font-weight: 600;
  width: 80%;
}

/* FOOTER */
footer {
  background: #8d0c4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer ul {
  display: flex;
  gap: 10px;
  font-size: 30px;
}

footer p {
  font-size: 18px;
  color: var(--text-white);
}

/* LOGO WSP */
.logo-wsp {
  position: fixed;
  top: 490px;
  right: 5px;
  width: 100px;
  cursor: pointer;
  z-index: 3;
  opacity: 80%;
}

/* REGISTRO */
.form-login,
.form-registro {
  width: 100%;
  height: 100vh;
  background: url(https://img.freepik.com/foto-gratis/fondo-textura-marmol-rosa-sucio_53876-104798.jpg)
    no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}

.formulario {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  gap: 20px;
  padding: 70px 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(185, 44, 168, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.formulario h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Playfair Display";
  font-weight: 800;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.73);
}
.btn-login {
  font-size: 18px;
  padding: 5px 50px;
  background: #f84aa4;
  border-radius: 10px;
  width: 90%;
}

.form-login p a,
.form-registro p a {
  color: #ff1198;
  font-weight: 600;
}

.formulario i {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 25px;
}
.formulario input {
  width: 90%;
}
.formulario span {
  width: 90%;
}
.formulario i:hover {
  background: #f84aa4;
  border-radius: 50%;
}
